body {
	background-color: lightgray;
}

#page {
	margin: 1.5em auto 3em auto;
	background-color: white;
	padding: 2em 3em 1.5em 3em;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px #aaa;
}

.publication div
{
	border: 1px solid #ccc;
}

.fontsmall
{
    font-size: 85%;
}

.marginbottom
{
    margin-bottom: 1em;
}

.marginleft
{
    margin-left: 1em;
}

.nomargintop
{
    margin-top: 0;
}

.nowrap {
    white-space: nowrap;
}
