// Scale the DUB logo to appropriately fit
.navbar .navbar-brand > img
{
    height: 30px;
    margin-top: -5px;
}

// #carousel is tucked directly under #bar
#carousel .col-md-12
{
    // reclaim the .content padding
    margin-top: -15px;

    // fill the horizontal space
    padding-left: 0;
    padding-right: 0;
}

// Sidebar top margin aligns with content
#calendar\.html #base-sidebar-right-sidebar
{
    margin-top: 20px;
}

#gettinginvolved\.html #base-sidebar-right-sidebar
{
    margin-top: 20px;
}

// Icons on the front page

.connecticon
{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.footer-content
{
    margin: 15px;
}

.footer-panel h2
{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.calendar-feed
{
    padding-bottom: 5px;
}

.upcomingseminar
{
    margin-bottom: 10px;
}

// Make Vimeo embed responsive
.embed-container
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Removes element for mobile
@media (max-width: @screen-sm-max)
{
    .md-hidden
    {
        display: none;
    }
}

// Seminar table header text aligns with normal text
.tableheading
{
    display: inline;
}

.vimeo-icon
{
    height: 16px;
}

.logo-branding
{
    width: 160px;
    background-color: rgb(230,230,230);
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
}

.img-circle
{
    width: 100px;
    height: 100px;
}