/*
	Standout by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body 
	{
		min-width: 1000px;
		font-size: 9.5pt;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 1em 0 1em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

		#header h1
		{
			font-size: 2em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		top: 1.5em;
	}
			
/*********************************************************************************/
/* Bar                                                                           */
/*********************************************************************************/

	#bar
	{
		padding: 2em 3em;
	}

/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

	#slider
	{
		width: 1000px;
		height: 529px;
	}
	
		#slider .viewer
		{
			width: 1000px;
		}
	
			#slider .viewer .reel
			{
			}
	
			#slider .viewer .reel .slide
			{
			}
	
				#slider .viewer .reel .slide img
				{
					width: 1000px;
					height: 529px;
				}

		#slider .caption-shadow
		{
			top: 180px;
		}
		
		#slider .captions
		{
			width: 1000px;
			top: 155px;
		}

			#slider .captions .captionLine .button
			{
				top: 52px;
				font-size: 1.50em;
			}

		#slider .navigation
		{
			width: 1000px;
		}

		#slider .previous-button, #slider .next-button
		{
			margin-top: -55px;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		background-size: 100% auto;
		padding-top: 5em;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright 
	{
		margin-top: 3em;
		padding: 3em 0em 5em 0em;
	}