---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- PageHeader -->
    {% include base/pagehead.html %}

    <!-- Styles -->
    <link href="{{ site.baseurl }}/css/base/bar/styles.css" rel="stylesheet">
  </head>
  <body class="layout-bar" id="{{ page.url | slugify: 'pretty' }}">
    <!-- NavHeader -->
    {% include base/bar/navheader.html %}

    <!-- Main -->
    <div class="container base-main">
      {% if page.title_bar %}
        {% assign render_title_bar = page.title_bar %}
      {% elsif layout.title_bar %}
        {% assign render_title_bar = layout.title_bar %}
      {% elsif page.title %}
        {% assign render_title_bar = page.title %}
      {% endif %}

      {% if page.title_bar_secondary %}
        {% assign render_title_bar_secondary = page.title_bar_secondary %}
      {% elsif layout.title_bar_secondary %}
        {% assign render_title_bar_secondary = layout.title_bar_secondary %}
      {% endif %}

      <!-- Bar -->
      <div class="row bar-bar">
        {% if render_title_bar_secondary %}
          <div class="col-md-6 bar-primary">
            <h1>{{ render_title_bar }}</h1>
          </div>
          <div class="col-md-6 bar-secondary">
            <p>{{ render_title_bar_secondary }}</p>
          </div>
        {% else %}
          <div class="col-md-12 bar-primary">
            <h1>{{ render_title_bar }}</h1>
          </div>
        {% endif %}
      </div>

      <!-- Content -->
      {{ content }}
    </div>
    <!-- Main End -->

    <!-- EndOfBody -->
    {% include base/bodyend.html %}
  </body>
</html>
