# IDE settings
.idea
*.iml

# MacOS files
.DS_Store

# Python environment
env35

# Python compilation
*.pyc

# Node install packages
node_modules

# Jekyll's build of the site
.jekyll-metadata
_site

# Secrets that should not be committed, such as passwords or keys
/secrets
