# IDE settings
.idea
*.iml

# MacOS files
.DS_Store

# Jekyll's build of the site
.jekyll-metadata
_site

# Our Python environment
env35

# Compiled Python
*.pyc

# Installed node packages
node_modules

# Any secrets, such as passwords or keys
/secrets
