# This file compiled from .travis.yml.in

sudo: false

language: python

python:
  - "3.5"

cache:
  pip: true
  directories:
    - node_modules
    - /home/travis/.rvm/gems

install:
  # Install Ruby
  - rvm install 2.2.3
  - rvm @global do gem install bundler -v 1.10.6
  - rvm @global do gem uninstall bundler -v "!=1.10.6"
  - rvm use 2.2.3 --default

  # Install NodeJS
  - nvm install 5.1.0

  # Install Python dependencies
  - python -m pip install --upgrade pip==8.1.1
  - python -m pip install -r requirements3.txt

  # Invoke will get our other dependencies
  - invoke update_dependencies

script:
  - nosetests
