<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">DUB</a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li
            {% if page.current_page_item == 'home' %}class="active"{% endif %}
          >
            <a href="{{ site.baseurl }}/index.html">Home</a>
          </li>
          <li
            {% if page.current_page_item == 'people' %}class="active"{% endif %}
          >
            <a href="{{ site.baseurl }}/people.html">People</a>
          </li>
          <li
            {% if page.current_page_item == 'aboutdub' %}class="active"{% endif %}
          >
            <a href="{{ site.baseurl }}/aboutdub.html">About DUB</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% comment %}
<!-- Header Wrapper -->
  <div id="header-wrapper">
    <div class="container">
      <div class="row">
        <div class="12u">

          <header id="header">

            <!-- Nav -->
              <nav id="nav">
                  <!--
                  <li>
                    <a href="" class="arrow">Sample Templates</a>
                    <ul>
                      <li><a href="{{ site.baseurl }}/sample/standout.html">Standout</a></li>
                      <li><a href="{{ site.baseurl }}/sample/portfolio.html">Portfolio</a></li>
                      <li><a href="{{ site.baseurl }}/sample/right-sidebar.html">Right Sidebar</a></li>
                      <li><a href="{{ site.baseurl }}/sample/left-sidebar.html">Left Sidebar</a></li>
                      <li><a href="{{ site.baseurl }}/sample/no-sidebar.html">No Sidebar</a></li>
                      <li>
                        <span class="arrow">Nested Menu ></span>
                        <ul>
                          <li><a href="#">Lorem ipsum dolor</a></li>
                          <li><a href="#">Phasellus consequat</a></li>
                          <li><a href="#">Magna phasellus</a></li>
                          <li><a href="#">Etiam dolore nisl</a></li>
                          <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  -->
                </ul>
              </nav>

          </header>

        </div>
      </div>
    </div>
  </div>
{% endcomment %}
