<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site.baseurl }}/bootstrap/js/jquery-1.11.3.min.js"></script>
<!-- Bootstrap -->
<script src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<!-- Fixes and things specific to our base -->
<script src="{{ site.baseurl }}/js/base/enable-link-to-tabs.js"></script>
{% if page.base-bar-sidebar-right-js %}
<script src="{{ site.baseurl }}/js/base/bar-sidebar-right.js"></script>
{% endif %}
