<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/jquery.rotatorrr.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
									
									<!-- Logo -->
										<h1><a href="index.html" id="logo">Standout</a></h1>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li class="current_page_item"><a href="index.html">Home</a></li>
												<li>
													<a href="" class="arrow">Dropdown</a>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li><a href="#">Etiam dolore nisl</a></li>
														<li>
															<span class="arrow">Phasellus consequat</span>
															<ul>
																<li><a href="#">Lorem ipsum dolor</a></li>
																<li><a href="#">Phasellus consequat</a></li>
																<li><a href="#">Magna phasellus</a></li>
																<li><a href="#">Etiam dolore nisl</a></li>
																<li><a href="#">Veroeros feugiat</a></li>
															</ul>
														</li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</nav>

								</header>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Welcome to UntitledStudio</h2>
								<p>Lorem ipsum dolor sit amet nullam consequat  feugiat lorem tempus</p>
							</div>
							<div id="slider">
								<div class="viewer">
									<div class="reel">
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="images/slide01.jpg" alt="" />
											<div class="caption">
												<h2>Fusce ultrices fringilla</h2>
												<p>Nam ut purus urna, in lacinia purus. Nulla dictum orci et tellus gravida sapien lectus tempus ante. Nam ut purus urna, in lacinia nulla.</p>
												<a href="#" class="button">Amet nullam consequat</a>
											</div>
										</div>
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="images/slide02.jpg" alt="" />
											<div class="caption">
												<h2>Sed tempus lorem aliquam</h2>
												<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In lectus pulvinar mollis. Vestibulum sem vestibulum eu, facilisis quis, arcu dolor.</p>
												<a href="#" class="button">Amet nullam consequat</a>
											</div>
										</div>
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="images/slide03.jpg" alt="" />
											<div class="caption">
												<h2>Magna feugiat nam veroeros</h2>
												<p>Consectetuer adipiscing elit. Nam pede erat lobortis tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi sed eleifend.</p>
												<a href="#" class="button">Amet nullam consequat</a>
											</div>
										</div>
									</div>
								</div>
								<div class="captions">
									<div class="captionLine">Lorem sed ipsum tempus dolor?</div>
									<div class="caption-shadow"></div>
								</div>
								<div class="navigation">
									<a href="#" class="previous-button">&lt;</a>
									<a href="#" class="next-button">&gt;</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
			
				<!-- Footer -->
					<footer id="footer" class="container">
					
						<!-- Footer Content -->
							<div class="row">
							
								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Nam ut purus urna, in lacinia purus. Nulla dictum, amet tempus pulvinar vehicula, orci et tellus gravida sapien lectus amet lorem tempus ante. Nam ut purus urna, in lacinia purus nulla dictum consequat feugiat lorem ipsum dolor sit amet.</p>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Gravida tempus veroeros</h2>
										<ul class="style5">
											<li class="first"><span class="date">July 25</span><a href="#">Urna in lacinia purus nulla dictum neque</a></li>
											<li><span class="date">July 20</span><a href="#">Vehicula orci et tellus gravida sapien</a></li>
											<li><span class="date">July 18</span><a href="#">Nam ut purus urna in lacinia nulla dictum</a></li>
										</ul>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Urna in lacinia purus nulla dictum neque vehicula orci tellus.</p>
										<ul class="style2">
											<li><a href="#" class="icon fa-twitter">Twitter</a></li>
											<li><a href="#" class="icon fa-instagram">Instagram</a></li>
											<li><a href="#" class="icon fa-facebook">Instagram</a></li>
											<li><a href="#" class="icon fa-tumblr">Tumblr</a></li>
											<li><a href="#" class="icon fa-dribbble">Dribbble</a></li>
										</ul>
									</section>
								</div>

							</div>
						
						<!-- Copyright -->
							<div class="row">
								<div id="copyright" class="12u">
									&copy; Untitled. All rights reserved.
								</div>
							</div>

					</footer>

			</div>

	</body>
</html>