<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- PageHeader -->
    {% include pageheader.html %}
	</head>
	<body class="layout-person">
    <!-- NavHeader -->
    {% include navheader.html %}

    <!-- Our Person -->
    {% assign item_person = page %}

		<!-- Main -->
    <div id="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="bar">
            <h2>
              {% for item_name in item_person.name offset:1 %}
                {{ item_name }}
              {% endfor %}
              {{ item_person.name[0] }}
            </h2>
          </div>
        </div>
      </div>
                <div class="row">
                  <div class="col-md-3">
                    <img src="{{ site.baseurl }}/images/slide01.jpg" width="100%"/>
                  </div>
                  <div class="col-md-9">
                    {% for item_position in item_person.position %}
                      <p>{{ item_position.title }}, {{ item_position.unit }}</p>
                    {% endfor %}
                    {% for item_web in item_person.web %}
                      <p><a href="{{ item_web }}">{{ item_web }}</a></p>
                    {% endfor %}
                    {% for item_twitter in item_person.twitter %}
                      <p><a href="{{ item_twitter }}">{{ item_twitter }}</a></p>
                    {% endfor %}
                  </div>
                </div>
      <div class="row">
        <div class="col-md-12">
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
		<!-- Main End -->

    <!-- Footer -->
    <div id="footer" class="container">
      <!-- Copyright -->
      <div class="row">
        <div id="copyright" class="col-md-12">
          &copy; Untitled. All rights reserved.
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- EndOfBody -->
    {% include endofbody.html %}
	</body>
</html>
