<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.poptrox.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.slidertron.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.rotatorrr.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
									
									<!-- Logo -->
										<h1><a href="index.html" id="logo">Standout</a></h1>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li><a href="index.html">Home</a></li>
												<li>
													<a href="" class="arrow">Dropdown</a>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li><a href="#">Etiam dolore nisl</a></li>
														<li>
															<span class="arrow">Phasellus consequat</span>
															<ul>
																<li><a href="#">Lorem ipsum dolor</a></li>
																<li><a href="#">Phasellus consequat</a></li>
																<li><a href="#">Magna phasellus</a></li>
																<li><a href="#">Etiam dolore nisl</a></li>
																<li><a href="#">Veroeros feugiat</a></li>
															</ul>
														</li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li class="current_page_item"><a href="portfolio.html">Portfolio</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</nav>

								</header>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Portfolio</h2>
								<p>Lorem ipsum dolor sit amet nullam consequat  feugiat lorem tempus</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="content">
								<article>
									
									<p>Nam ut purus urna, in lacinia purus. Nulla dictum, amet tempus pulvinar vehicula, orci et tellus 
									gravida sapien lectus amet lorem tempus ante. Nam ut purus urna, in lacinia purus nulla dictum consequat 
									feugiat lorem ipsum dolor sit amet. Nam ut purus urna, in lacinia purus. Nulla dictum, amet tempus.</p>
									
									<div id="portfolio">
										
										<!-- Titles -->
											<ul class="style4 titles">
												<li>Abstract</li>
												<li>Portraits</li>
												<li>Landscapes</li>
											</ul>
										
										<!-- Category 1 -->
											<div class="category">
												<div class="row">
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Lorem ipsum dolor sit amet." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Pulvinar vehicula orci et tellus." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Magna sed tempus consequat." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Feugiat tempus dictum nullam." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic04.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic04.jpg" alt="" title="Lacinia purus nullam dolore." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Magna nam ante dictum." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Orci et tellus lorem dolor." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic06.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic06.jpg" alt="" title="Purus sit tempus ante dictum." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Urna lectus adipiscing tempus." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic07.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic07.jpg" alt="" title="Dolor lorem ipsum sed nulla." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic08.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic08.jpg" alt="" title="Magna veroeros sed nisl." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Tempus purus lacinia urna." /></a>
													</div>
												</div>
											</div>

										<!-- Category 2 -->
											<div class="category">
												<div class="row">
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic07.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic07.jpg" alt="" title="Dolor lorem ipsum sed nulla." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic08.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic08.jpg" alt="" title="Magna veroeros sed nisl." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Tempus purus lacinia urna." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Orci et tellus lorem dolor." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic06.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic06.jpg" alt="" title="Purus sit tempus ante dictum." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Urna lectus adipiscing tempus." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Feugiat tempus dictum nullam." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic04.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic04.jpg" alt="" title="Lacinia purus nullam dolore." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Magna nam ante dictum." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Lorem ipsum dolor sit amet." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Pulvinar vehicula orci et tellus." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Magna sed tempus consequat." /></a>
													</div>
												</div>
											</div>

										<!-- Category 3 -->
											<div class="category">
												<div class="row">
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Feugiat tempus dictum nullam." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic04.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic04.jpg" alt="" title="Lacinia purus nullam dolore." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Magna nam ante dictum." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Lorem ipsum dolor sit amet." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic02.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic02.jpg" alt="" title="Pulvinar vehicula orci et tellus." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Magna sed tempus consequat." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic07.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic07.jpg" alt="" title="Dolor lorem ipsum sed nulla." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic08.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic08.jpg" alt="" title="Magna veroeros sed nisl." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic03.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic03.jpg" alt="" title="Tempus purus lacinia urna." /></a>
													</div>
													<div class="3u">
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic05.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic05.jpg" alt="" title="Orci et tellus lorem dolor." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic06.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic06.jpg" alt="" title="Purus sit tempus ante dictum." /></a>
														<a href="{{ site.baseurl }}/images/portfolio/fulls/pic01.jpg" class="image image-full"><img src="{{ site.baseurl }}/images/portfolio/thumbnails/pic01.jpg" alt="" title="Urna lectus adipiscing tempus." /></a>
													</div>
												</div>
											</div>

										<!-- Back to top -->
											<a href="#" class="button button-top">Back To Top</a>

									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
			
				<!-- Footer -->
					<footer id="footer" class="container">
					
						<!-- Footer Content -->
							<div class="row">
							
								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Nam ut purus urna, in lacinia purus. Nulla dictum, amet tempus pulvinar vehicula, orci et tellus gravida sapien lectus amet lorem tempus ante. Nam ut purus urna, in lacinia purus nulla dictum consequat feugiat lorem ipsum dolor sit amet.</p>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Gravida tempus veroeros</h2>
										<ul class="style5">
											<li class="first"><span class="date">July 25</span><a href="#">Urna in lacinia purus nulla dictum neque</a></li>
											<li><span class="date">July 20</span><a href="#">Vehicula orci et tellus gravida sapien</a></li>
											<li><span class="date">July 18</span><a href="#">Nam ut purus urna in lacinia nulla dictum</a></li>
										</ul>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Urna in lacinia purus nulla dictum neque vehicula orci tellus.</p>
										<ul class="style2">
											<li><a href="#" class="icon fa-twitter">Twitter</a></li>
											<li><a href="#" class="icon fa-instagram">Instagram</a></li>
											<li><a href="#" class="icon fa-facebook">Instagram</a></li>
											<li><a href="#" class="icon fa-tumblr">Tumblr</a></li>
											<li><a href="#" class="icon fa-dribbble">Dribbble</a></li>
										</ul>
									</section>
								</div>

							</div>
						
						<!-- Copyright -->
							<div class="row">
								<div id="copyright" class="12u">
									&copy; Untitled. All rights reserved.
								</div>
							</div>

					</footer>

			</div>

	</body>
</html>