<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/jquery.rotatorrr.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="right-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
									
									<!-- Logo -->
										<h1><a href="index.html" id="logo">Standout</a></h1>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li><a href="index.html">Home</a></li>
												<li>
													<a href="" class="arrow">Dropdown</a>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li><a href="#">Etiam dolore nisl</a></li>
														<li>
															<span class="arrow">Phasellus consequat</span>
															<ul>
																<li><a href="#">Lorem ipsum dolor</a></li>
																<li><a href="#">Phasellus consequat</a></li>
																<li><a href="#">Magna phasellus</a></li>
																<li><a href="#">Etiam dolore nisl</a></li>
																<li><a href="#">Veroeros feugiat</a></li>
															</ul>
														</li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li class="current_page_item"><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</nav>

								</header>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Right Sidebar</h2>
								<p>Lorem ipsum dolor sit amet nullam consequat  feugiat lorem tempus</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="8u">
							<div id="content">
								<article>
									<h2>Maecenas luctus lectus</h2>
									<p><a href="#" class="image image-left"><img src="images/portfolio/thumbnails/pic05.jpg" alt=""></a>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretiums. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque pede.</p>
									<p>Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Pellentesque erat erat,  in, eleifend accumsan. Suspendisse sit amet tellus in eros bibendum condimentum. Vestibulum suscipit volutpat nulla. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim  lacinia. Donec condimentum, urna non molestie semper, ligula enim  nibh, quis laoreet eros quam eget ante.</p>
									<p>Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Pellentesque erat erat, tincidunt in, eleifend accumsan, malesuada eget, augue. Suspendisse sit amet tellus in eros bibendum condimentum. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. </p>
								</article>
							</div>
						</div>
						<div class="4u">
							<div id="sidebar">
								<section>
									<h2>Fusce ultrices fringilla</h2>
									<p>Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. </p>
									<ul class="style3">
										<li class="first">
											<p><a href="#">Ipsum ante vivamus semper faucibus varius. Nam risus nibh, commodo vulputate. Integer sit amet pede vel arcu aliquet pretium. </a></p>
											<span class="posted">8 hours ago</span>
										</li>
										<li>
											<p><a href="#">Sed amet consequat lorem ipsum dolor sit amet blandit feugiat lorem ipsum sed ante nibh, commodo vulputate. Integer  aliquet pretium.</a></p>
											<span class="posted">1 day ago</span>
										</li>
									</ul>
								</section>
								<section>
									<h2>Aenean elementum</h2>
									<ul class="style1">
										<li class="first"><a href="#">Quisque vel sapien sit amet tellus</a></li>
										<li><a href="#">Elementum ultricies nunc vel orci turpis.</a></li> 
										<li><a href="#">Donec dolore interdum quis convallis</a></li>
										<li><a href="#">Feugiat veroeros lorem sed phasellus</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
			
				<!-- Footer -->
					<footer id="footer" class="container">
					
						<!-- Footer Content -->
							<div class="row">
							
								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Nam ut purus urna, in lacinia purus. Nulla dictum, amet tempus pulvinar vehicula, orci et tellus gravida sapien lectus amet lorem tempus ante. Nam ut purus urna, in lacinia purus nulla dictum consequat feugiat lorem ipsum dolor sit amet.</p>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Gravida tempus veroeros</h2>
										<ul class="style5">
											<li class="first"><span class="date">July 25</span><a href="#">Urna in lacinia purus nulla dictum neque</a></li>
											<li><span class="date">July 20</span><a href="#">Vehicula orci et tellus gravida sapien</a></li>
											<li><span class="date">July 18</span><a href="#">Nam ut purus urna in lacinia nulla dictum</a></li>
										</ul>
									</section>
								</div>

								<div class="4u">
									<section>
										<h2>Magna feugiat consequat</h2>
										<p>Urna in lacinia purus nulla dictum neque vehicula orci tellus.</p>
										<ul class="style2">
											<li><a href="#" class="icon fa-twitter">Twitter</a></li>
											<li><a href="#" class="icon fa-instagram">Instagram</a></li>
											<li><a href="#" class="icon fa-facebook">Instagram</a></li>
											<li><a href="#" class="icon fa-tumblr">Tumblr</a></li>
											<li><a href="#" class="icon fa-dribbble">Dribbble</a></li>
										</ul>
									</section>
								</div>

							</div>
						
						<!-- Copyright -->
							<div class="row">
								<div id="copyright" class="12u">
									&copy; Untitled. All rights reserved.
								</div>
							</div>

					</footer>

			</div>

	</body>
</html>