<!DOCTYPE html>
<html>
<head lang="en">
    <!-- PageHeader -->
    {% include base/pageheader.html %}
</head>
<body class="layout-seminar">
<!-- NavHeader -->
{% include base/navheader.html %}

<!-- Our Seminar -->
{% assign item_seminar = page %}

<!-- Main -->
<div class="container" id="base-main">
    <!-- Bar -->
    <div class="row" id="bar">
        <div class="col-md-6" id="bar-primary">
            <h1>Seminar</h1>
        </div>
        <div class="col-md-6" id="bar-secondary">
            <p>HCI & Design at the University of Washington</p>
        </div>
    </div>
    <!-- Bar End -->

    <div class="row base-content">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <a href="/calendar.html" class="list-group-item">Upcoming Seminars</a>
                    <a href="/previousseminars.html" class="list-group-item">Previous Seminars</a>
                </div>
                <div class="col-md-2 col-md-pull-4">
                    <h3>Date</h3>
                    {{ item_seminar.date | date: '%b %d, %Y'}}
                    <h3>Time</h3>
                    {{ item_seminar.time }}
                    <h3>Location</h3>
                    {{ item_seminar.location }}
                </div>
                <div class="col-md-6 col-md-pull-4">
                    <h3>Title</h3>
                    {{ item_seminar.title }}
                    {% if item_seminar.speakers.size > 1 %}
                        <h3>Speakers</h3>
                    {% else %}
                        <h3>Speaker</h3>
                    {% endif %}
                    {% if item_seminar.speakers.size > 0 %}
                        {% assign item_affiliations = '' | split: ',' %}
                        {% for item_speaker in item_seminar.speakers %}
                            {% assign item_affiliations = item_affiliations | push: item_speaker.affiliation | uniq %}
                        {% endfor %}
                    {% endif %}
                    {% for item_affiliation in item_affiliations %}
                        {% assign item_affiliation_names = '' | split: ' ' %}
                        {% for item_speaker in item_seminar.speakers %}
                            {% if item_speaker.affiliation == item_affiliation %}
                                {% assign item_full_name = '' %}
                                {% for item_name in item_speaker.name offset: 1 %}
                                    {% assign item_full_name = item_full_name | append: ' ' | append: item_name %}
                                    {% if forloop.last %}
                                        {% assign item_full_name = item_full_name | append: ' ' | append: item_speaker.name[0] %}
                                    {% endif %}
                                {% endfor %}
                                {% assign item_affiliation_names = item_affiliation_names | push: item_full_name %}
                            {% endif %}
                        {% endfor %}
                        <div>
                            {{ item_affiliation_names | join: ', ' }}
                        </div>
                        <div class="text-muted">
                            {{ item_affiliation }}
                        </div>
                    {% endfor %}
                    <h3>Abstract</h3>
                    {{ item_seminar.abstract }}
                    <h3>Bio</h3>
                    {{ item_seminar.bio }}
                    {% assign video_id = item_seminar.video %}
                    {% assign video_size = video_id.size %}
                    {% if video_size > 0 %}
                    <h3>Video</h3>
                    {% vimeo video_id %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main End -->

<!-- EndOfBody -->
{% include base/endofbody.html %}
</body>
</html>
