<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- PageHeader -->
    {% include pageheader.html %}
	</head>
	<body class="layout-sidebar-none">
    <!-- NavHeader -->
    {% include navheader.html %}

		<!-- Main -->
    <div id="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="bar">
            <h2>DUB</h2>
            <p>HCI & Design at the University of Washington</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
		<!-- Main End -->

    <!-- Footer -->
    <div id="footer" class="container">
      <!-- Copyright -->
      <div class="row">
        <div id="copyright" class="col-md-12">
          &copy; Untitled. All rights reserved.
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- EndOfBody -->
    {% include endofbody.html %}
	</body>
</html>
